
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Open+Sans:ital@1&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;1,300;1,400&family=Roboto:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Outfit;
}

#root{
    min-height: 100vh;
    display:flex;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}

@media(max-width:600px){
    .main-bottom-input{
        flex:none;
        width:150px;
    }
    .main-bottom-img{
        width:20px;
    }
    .search-box{
        padding:5px 10px;
    }
    .search-box div{
        gap:5px;
    }
}